header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 1em;
}



body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5vw;

}

/* h1, h2, h3, h4, h5, h6 {
    font-size: 4vw; /* Adjust this value to match your preferred scaling */
/*} */



@media (min-width: 1200px) {
    body {
        padding-left: 300px; /* Adjust padding for larger screens */
        padding-right: 300px; /* Adjust padding for larger screens */
        font-size: 16px; /* Adjust the value as needed */

        /* padding-left: calc((100% - var(--middle-width)) / 2);
        padding-right: calc((100% - var(--middle-width)) / 2); */
    }
}


@media (max-width: 1200px) {
    body {
        padding-left: 20px; /* Adjust padding for larger screens */
        padding-right: 20px; /* Adjust padding for larger screens */
        font-size: 16px; /* Adjust the value as needed */

        /* padding-left: calc((100% - var(--middle-width)) / 2);
        padding-right: calc((100% - var(--middle-width)) / 2); */
    }


    h1 {
        font-size: 50px;
    }
    
    h3{
        font-size: 40px;
        margin: 0;
    }

    h4{
        font-size: 40px;
        margin: 0;
    }
    
    i {
        font-size: 35px;
    }
}



.text-container {
    display: flex;
    justify-content: space-between;
}
.left-text {
    text-align: left;
}
.right-text {
    text-align: right;
}



.padded-text {
    padding-left: 15px;
}



.outer-list {
    list-style-type: none; 
    padding-left: 0;
}


a {
    text-decoration: underline; /* Add underline to links */
    color: inherit; /* Inherit the color from the parent element (regular text color) */
}

/* Remove the default link color change on hover and focus */
a:hover,
a:focus {
    text-decoration: underline; /* Maintain the underline on hover and focus */
    color: inherit; /* Inherit the color from the parent element (regular text color) */
}


h1 {
    /* font-size: 24px; */
    margin: 0;
}


.section {
    padding: 1em 0;
}


.social {
    display: flex;
}

.social a {
    margin-right: 0.75em;
}

.social img {
    width: 32px; /* Adjust the icon size as needed */
    height: 32px;
}



