header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 1em;


}

.outer-list {
    list-style-type: none; 
    padding-left: 0;
}


a {
    text-decoration: underline; /* Add underline to links */
    color: inherit; /* Inherit the color from the parent element (regular text color) */
}

/* Remove the default link color change on hover and focus */
a:hover,
a:focus {
    text-decoration: underline; /* Maintain the underline on hover and focus */
    color: inherit; /* Inherit the color from the parent element (regular text color) */
}


h1 {
    /* font-size: 24px; */
    margin: 0;
}


.section {
    padding: 1em 0;
}

body {
    padding: 1em;
}

.social {
    display: flex;
}

.social a {
    margin-right: 0.75em;
}

.social img {
    width: 32px; /* Adjust the icon size as needed */
    height: 32px;
}



